<section class="hero-section">

  <!-- LEFT IMAGE -->
  <div class="hero-image">
    <img src="assets/college1.jpg" alt="College Image">
  </div>

  <!-- CENTER CONTENT -->
  <div class="hero-content">

    <span class="badge">
      Admissions Open 2026
    </span>

    <h2>
      Welcome to
      <span>Col D S Raju Polytechnic College</span>
    </h2>

    <p>
      Providing quality technical education with innovation,
      discipline, practical learning, and excellence for future engineers.
    </p>

    <div class="hero-buttons">

      <button class="primary-btn">
        Explore More
      </button>

      <button class="secondary-btn">
        Contact Us
      </button>

    </div>

  </div>

  <!-- RIGHT IMAGE -->
  <div class="hero-image">
    <img src="assets/college2.jpg" alt="College Image">
  </div>

</section>