<section class="hero-section">

  <!-- LEFT IMAGE -->
  <div class="hero-image">
    <img src="assets/college1.jpg" alt="College Image">
  </div>

  <!-- CENTER CONTENT -->
  <div class="hero-content">

    <span class="badge">
      Admissions Open 2026
    </span>

    <h2>
      Welcome to
      <span>Col D S Raju Polytechnic College</span>
    </h2>

    <p>
      Providing quality technical education with innovation,
      discipline, practical learning, and excellence for future engineers.
    </p>
    <p>ప్రముఖ స్వాతంత్ర్య  సమరయోధులు , ఆజాద్ హింద్ ఫౌజు ఉద్యమ కర్త  , ఇండియన్ నేషనల్ ఆర్మీ (INA) రధ  సారధి నేతాజీ సుభాష్ చంద్ర బోస్ గారి వ్యక్తిగత వైద్యులు దాట్ల సత్యనారాయణ రాజు (కల్నల్ డి స్ రాజు) గారు పశ్చిమ గోదావరి జిల్లా పోడూరు మండలం పోడూరు గ్రామములో 1904 ఆగస్టు 28 న జన్మించి వైద్య విద్యను అభ్యసించి, నేతాజీ సుభాష్ చంద్ర బోస్ గారిచే మృత్యుంజయ్ గా నామకరణం పొంది ఆయన వెంటే వుంటూ ఎన్నో స్వాతంత్ర్య ఉద్యమాలలో పాల్గొన్న స్వాతంత్ర్య సమరయోధులు కల్నల్ డి స్ రాజు గారు.  
		1947 స్వాతంత్ర్యం అనంతరం కల్నల్ డి స్ రాజు గారు రాజమండ్రి పార్లమెంటు నియోజక వర్గం నుండి 2వ, 3వ మరియు 4వ  పార్లమెంటు సబ్యులుగా ఎన్నికై , 1962-64 లో కేంద్ర సహాయ ఆరోగ్య శాఖ మంత్రిగా , 1964-66 లో కేంద్ర సహాయ రక్షణ శాఖ మంత్రిగా పనిచేసి అదేవిధంగా  1958 లో ది మెడికల్ ఎడ్యుకేషన్ సొసైటి, కాకినాడ లో స్థాపించి వ్యస్థపక అధ్యక్షులు గా వుంటూ కాకినాడలో రంగరాయ మెడికల్ కాలేజీ ని స్థాపించారు. ఆయన మరణ అనంతరం ది మెడికల్ ఎడ్యుకేషన్ సొసైటి, కాకినాడ ద్వారా 1981 లో కల్నల్ డి స్ రాజు గారి స్వగ్రామం పోడూరులో ఆయన పేరుమీద ప్రారంభించ బడి గత 46 ఏళ్లగా ఉభయ గోదావరి జిల్లాల్లోనే కాకుండా ఉమ్మడి ఆంధ్ర రాస్ట్రం లోనే అత్యుత్తమ సాంకేతిక విద్యను అందిస్తున్న ఏకైక విధ్యా సంస్థ కల్నల్ డి స్ రాజు పాలిటెక్నిక్ ,పోడూరు .</p>
    <p>ఈ కాలేజీలో చదివిన అనేక మంది విద్యార్థులు ప్రభుత్వ మరియు ప్రైవేట్ రంగాలలోని రైల్వేలు, టెలికాం, హార్డ్‌వేర్, సాఫ్ట్‌వేర్, ఆయిల్ రంగం, తయారీ పరిశ్రమలు, రాష్ట్ర మరియు కేంద్ర విద్యుత్ సంస్థలు, నిర్మాణ రంగం తదితర విభాగాల్లో ఉన్నత స్థానాలలో స్థిరపడ్డారు. అలాగే, చాలా మంది విద్యార్థులు ఉన్నత విద్యను అభ్యసించి దేశ, విదేశాల్లో మంచి స్థాయిలో స్థిరపడి కాలేజీకి గౌరవాన్ని తీసుకువచ్చారు.
అధ్యాపకుల నిబద్ధత, నిరంతర మార్గదర్శకత్వం మరియు ప్రోత్సాహం, అలాగే విద్యార్థుల కృషి, అంకితభావం ఈ విజయాలకు ప్రధాన కారణాలు. </p>
    <div class="hero-buttons">

      <button class="primary-btn">
        Explore More
      </button>

      <button class="secondary-btn">
        Contact Us
      </button>

    </div>

  </div>

  <!-- RIGHT IMAGE -->
  <div class="hero-image">
    <img src="assets/college2.jpg" alt="College Image">
  </div>

</section>